body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #F2E9E9;
}

p {
    font: Arial, sans-serif;
    font-size: 1.2rem;
}

h1 {
    font: Arial, sans-serif;
    font-size: 3rem;
}

h2 {
    font: Arial, sans-serif;
    font-size: 2rem;
}

/*HEADER*/
header {
    display: inline-flex;
    align-items: center;
}

.logo {
    width: 20%;
}

.navBar {
    padding: 0;
}

.navBar ul {
    list-style: none;
    display: inline-flex;
    padding: 0;
}

.navBar li {
    padding: 5%;
}

.navBar a {
    text-decoration: none;
    color: black;
    white-space: nowrap;
    font-size: 1.5rem;
    padding: 1.2vw 0;
}

.navBar a:hover {
    border-bottom: solid #f0a202;
}

.navBarClicked a:visited {
    color: #f0a202;
}

.navBarClicked a:hover {
    padding: 1.2vw 0;
    color: black;
}


/*FOOTER*/
footer {
    background-color: #f0a202;
    height: 70px;
}


/*INDEX*/
#indexLayout{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
}

#indexLayoutReverse {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.indexRow {
    flex: 50%;
    max-width: 50%;
}

.indexRow img {
    display: block;
}

.missionstatment {
    font-size: 2rem;
}


/*COMPANY*/
.companyLayout {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
}

.companyLayoutReverse {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin-left: 10%;
    margin-right: 10%;
}
.companyRow {
    flex: 50%;
}

.companyRow img {
    display: block;
}

#funFact {
    list-style: none;
}


/*LOCATIONS*/
#map {
    position: relative;
    margin: 10%;
    padding-bottom: 50%;
}

#map iframe {
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.logoList {
    background-color: white;
}

.logoList a img {
    padding: 0 2%;
}


/*JOIN*/
#joinMain {
    margin-right: 10%;
    margin-left: 10%;
}

.joinTextContainor {
    display: inline-block;
    margin-left: 20%;
    margin-right: 20%;
}

#joinImg{
    display: flex;
    flex-wrap: wrap;
}

.joinImgRow {
    flex: 50%;
}

.linkInText {
    text-decoration: none;
    color: black;
}

.linkInText:hover {
    color: #f0a202;
    text-decoration: underline;
}


@media only screen and (max-width: 800px) {
    /*HEADER*/
    header {
        display: inline;
        text-align: center;
    }

    .logo {
        width: 20%;
    }

    .navBar {
        margin: 0;
    }


    /*INDEX*/
    .indexRow {
        flex: 100%;
        max-width: 100%;
    }


    .indexLayoutReverse {
        flex: 100%;
        max-width: 100%;
    }

    .indexBottomText {
        flex: 100%;
        max-width: 100%;
        padding-bottom: 2%
    }


    /*COMPANY*/
    .companyRow {
        flex: 100%;
        max-width: 100%;
    }


    /*JOIN*/
    .joinImgRow {
        flex: 100%;
    }

    .joinTextContainor {
        margin: 0;
    }
}
