body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #FFFAFA;
}
/*FFFAFA
F7F2F2
F2E9E9
*/

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}

h1 {
    font: Arial, sans-serif;
    font-size: 2.5rem;
}

h2 {
    font: Arial, sans-serif;
    font-size: 1.5rem;
}


/*HEADER*/
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
    padding-right: 2%;
    padding-left: 2%;
}

.logo{
    max-width: 150px;
    cursor: pointer;
    padding-left: 62%;
}

.logo img{
    max-width: 150px;
    cursor: pointer;
}

nav{
    flex: 1;
    text-align: center;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 10%;
}

nav a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    white-space: nowrap;
}

nav a:hover {
    border-bottom: solid #f0a202;
    padding: 1.2vw 0;
}

.navBarClicked a:hover {
    padding: 1.2vw 0;
    color: #f0a202;
}

.navBarClicked a:visited {
    color: #f0a202;
}


/*FOOTER*/
footer {
    background-color: #f0a202;
    display: flex;
    max-width: 100%;
}

footer p {
    flex: 1;
}


/*INDEX*/
#indexLayout{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

#indexLayoutReverse {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.indexRow {
    flex: 50%;
    max-width: 50%;
}

.indexRow img {
    display: block;
}

.missionstatment {
    font-size: 2rem;
}


/*COMPANY*/
.companyLayout {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

.companyRow {
    display: flex;
    flex-wrap: wrap;
}

.companyRowReverse {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.companyItem {
    flex: 50%;
}

.companyItem img {
    display: block;
}

#funFact {
    list-style: none;
    padding: 0;
}


/*LOCATIONS*/
#map {
    position: relative;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 50%;
}

#map iframe {
    left: 0;
    position: absolute;
    width: 100%;
    height: 80%;
}

.logoList {
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    white-space: nowrap;
    justify-content: space-evenly;
}

.logoList img {
    display: inline-block;
}

.logoList img:hover {
    position: relative;
    bottom: 5px;
}

.logoListLogo {
    width: 20%;
    padding: 1%;
}

/*JOIN*/
.joinMain {
    margin-right: 10%;
    margin-left: 10%;
}

main img {
    display: block;
}

.joinTextContainor {
    display: inline-block;
    padding: 2%;
    margin: 5% 20%;
}

#joinImg{
    display: flex;
    flex-wrap: wrap;
}

.joinImgRow {
    flex: 50%;
}

.linkInText {
    text-decoration: none;
    color: black;
}

.linkInText:hover {
    color: #f0a202;
    text-decoration: underline;
}


@media only screen and (max-width: 800px) {
    /*HEADER*/
    header {
        height: 20%;
    }

    .logo{
        max-width: 150px;
        cursor: pointer;
        padding-left: 2%;
    }

    .logo img {
        max-width: 150px;
        cursor: pointer;
    }


    /*FOOTER*/
    footer p {
        font-size: 0.8rem;
    }


    /*INDEX*/
    .indexRow {
        flex: 100%;
        max-width: 100%;
    }

    #indexLayoutReverse {
        flex: 100%;
        max-width: 100%;
    }

    .indexBottomText {
        flex: 100%;
        max-width: 100%;
        padding-bottom: 2%;
    }


    /*COMPANY*/
    .companyItem {
        flex: 100%;
        max-width: 100%;
    }

    /*LOCATIONS*/
    #map {
        margin-right: 10%;
        margin-left: 10%;
        margin-bottom: 30%;
    }

    #map iframe {
        height: 150%;
    }


    /*JOIN*/
    .joinImgRow {
        flex: 100%;
    }

    .joinTextContainor {
        margin: 5% 0;
    }
}

@media only screen and (max-width: 600px) {
    /*HEADER*/
    nav a {
        font-size: 1.2rem;
    }
}