body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #E3DBDB;

}

/*HEADER*/
.logo img {
    width: 40%;
}

.navBar ul {
    list-style: none;
    display: inline-flex;
    justify-content: space-evenly;
}

.navBar li {
    padding: 5%;
}

.navBar a {
    text-decoration: none;
    color: black;
    white-space: nowrap;
}

.navBar a:hover {
    border-bottom: solid #E1CA71;
}

.navBarClicked {
}

.navBarClicked a:visited {
    color: #E1CA71;
}

.navBarClicked a:hover {
    color: black;
}

/*HOME*/
.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  padding-bottom: 40px;

}

.grid-item1{
  grid-column-start: 1;
  height: auto;

}
.grid-item2 {

}
.grid-item3 {
  padding-left: 30px;
  padding-right: 50px;

}
.grid-item4 {

}


/*.grid-bilde {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.grid-tekst {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  grid-column-start: 2;
} */


/*COMPANY*/

/*LOCATIONS*/

.bedriftslogo {
}

.bedriftslogo a {
    padding: 2%;
}

/*JOIN*/

.textContainor {
    display: inline-block;
    margin-left: 20%;
    margin-right: 20%;
}

.linkInText {
    text-decoration: none;
    color: black;
}

.linkInText:hover {
    color: #E1CA71;
    text-decoration: underline;
}
